.styletrainer-sampleoutputgriditem {
    border-width: 3px;
    margin: var(--appui-spacing-50);
    border-color: var(--appui-backgrounds-300);
}

.styletrainer-sampleoutputgriditem__previewimage {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-color: var(--appui-backgrounds-100);
}

.styletrainer-sampleoutputgriditem__promptField {

}

.appui-grid-view__item.is-selected {
    border-width: 3px;
    border-color: var(--appui-accent-100);
}

.styletrainer-sampleoutputgriditem__deletebutton {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

*:hover > .styletrainer-sampleoutputgriditem__deletebutton {
    display: flex;
}

.styletrainer-sampleoutputview-gridview-disable .styletrainer-sampleoutputgriditem__deletebutton {
    display: none;
}

.is-selected .delete-button-webgl {
    display: flex;
}
